# 2D DDW
## Pedicting Crop Type from data based in India

In [114]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from rapidfuzz import process, fuzz

### **Model Outline(stuff yall can follow):**
> **Warning:** DO NOT MANIPULATE THE CSV FILES DIRECTLY. Any manipulation will be done by loading the data into a variable in your code. CSV FILES SHOULD BE UNTOUCHED. However you can create and export new CSV Files based on original data.


#### Step 1 Data Preprocessing:

**CSV Files**
```bash
├── Fertilizer.csv
├── Crop_Yield.csv
```
- Use charts to visualize, summarize and understand your data. Whatever stuff you guys can think of that will help someone to understand the data better(I'll do this~Gangesh)
- Display both files using pandas and take a look at the columns. You need to find a way to combine this datasets and remove some of the unnecessary columns(ex. Production column in final dataset. Crops which are not meant for consumptions like cotton,jute etc). 
- **Note:** Some of the crop names in the soil conditions file and the Crop Yield file dont match exactly. Find a way to accurately still combine the datasets.
- After which, recall what i said about data that are not numbers, in this case states. Look up panda dummy variables.
- Normalize the data. Can use the one in problems set.
  
#### Step 2 Training and Validation:
- Follow the initial steps exactly as in cohort 9 to train your first model
- evaluate the model using an appropriate metric. Indicate all data of the trained model together with the error through your chosen error function. Visualize the trained model/training of the model with maybe types of graph
- Take steps to improve your model. Try to search online. One way is to vary the iterations and learning rate. Train a few times, then choose the model with the best accuracy.

#### Step 3 Prediction:
- Find a way to predict the crop type that gives the highest yield. 
- Recall that the above model predicts highest yield for any given crop type. So what you would do is create a function where the user types in everything except for crop, and you would go on to predict yield for every crop with the inputted variables. After which you will choose the crop with the highest yield and return it 
- In the crop yield csv you will notice a crop_type column. This refers the the type of seasonal crop they are. Ex. Rabi Crops are harvested in the spring season while it is sown in winter. Create a function where if i input a date, I can receive the corresponding crop type.

### Date  Pre-processing

In [115]:
# df_TempCropYield = pd.read_csv("Crop_Yield.csv")
# df_CropSoilConditions = pd.read_csv("Crop_Ideal_Soil_Conditions.csv")
# #add soil condition columns to start combining
# df_TempCropYield['N'] = 0
# df_TempCropYield['P'] = 0
# df_TempCropYield['K'] = 0
# df_TempCropYield['pH'] = 0

# # string1 = "Ragi( naachnnii)"
# # string2 = "Ragi"
# # str1 = "Chili"
# # str2 = "Dry chillies"
# # # Calculate the similarity score using fuzz.ratio
# # score1 = fuzz.partial_ratio(string1,string2)
# # score2 = fuzz.partial_ratio(str1,str2)
# # print(score1)
# # print(score2)
# # Using partial_ratio returned the best comparison result on sample set

# # Delete rows with cotton or jute in the 'Crop' column as those are not edible
# values_to_delete = ['Cotton(lint)', 'Jute']
# df_TempCropYield = df_TempCropYield[~df_TempCropYield['Crop'].isin(values_to_delete)]
# # Mapping dictionary for crop name conversion to assist in combining datasets
# crop_mapping = {
#     'Arhar/Tur': 'Pigeon peas(Toor Dal)',
#     'Moong(Green Gram)': 'Mung beans',
#     'Urad': 'Black Gram',
#     'Sesamum': 'Sesame Seed',
#     'Bhindi': 'Lady Finger',
#     'Cowpea(Lobia)': 'Black eyed beans(Chawli)',
#     'Guar seed': 'Cluster Beans(Gavar)'
# }
# # Replace crop names in the 'Crop' column
# df_TempCropYield['Crop'] = df_TempCropYield['Crop'].replace(crop_mapping)
# display(df_TempCropYield)

# for index, row in df_TempCropYield.iterrows():
#     # Match the crop string using fuzzywuzzy
#     match = process.extractOne(row['Crop'], df_CropSoilConditions['Crop'],scorer=fuzz.partial_ratio)
    
#     # Randomly pick one of the matches
#     matched_rows = df_CropSoilConditions[df_CropSoilConditions['Crop'] == match[0]]
#     random_matched_row = matched_rows.sample(n=1)
    
#     # Copy the values to df_TempCropYield if a match is found
#     if match[1] >= 80:  # Replace YOUR_THRESHOLD with your desired matching threshold
#         df_TempCropYield.at[index, 'N'] = random_matched_row['N'].values[0]
#         df_TempCropYield.at[index, 'P'] = random_matched_row['P'].values[0]
#         df_TempCropYield.at[index, 'K'] = random_matched_row['K'].values[0]
#         df_TempCropYield.at[index, 'pH'] = random_matched_row['pH'].values[0]
#     else:
#         # Add NaN if no match is found
#         df_TempCropYield.at[index, 'N'] = None
#         df_TempCropYield.at[index, 'P'] = None
#         df_TempCropYield.at[index, 'K'] = None
#         df_TempCropYield.at[index, 'pH'] = None
# #Drop crows for which soil data cant be found
# df_TempCropYield = df_TempCropYield.dropna(subset=['N'])
# df_TempCropYield.drop(['Area_in_hectares', 'Production_in_tons'], axis=1)
# #convert categories to dummy variables
# df_TempCropYield_NoCat = pd.get_dummies(df_TempCropYield,dtype=int)
# #move y column to last
# df_TempCropYield_NoCat["Yield_ton_per_hec"] = df_TempCropYield_NoCat.pop("Yield_ton_per_hec")
# df_TempCropYield_NoCat.to_csv('Crop_Yield_Combined.csv', index=False)

,State_Name,Crop_Type,Crop,rainfall,temperature,Area_in_hectares,Production_in_tons,Yield_ton_per_hec,N,P,K,pH
0,andhra pradesh,kharif,Pigeon peas(Toor Dal),654.34,29.266667,21400.0,2600.0,0.121495,0,0,0,0
1,andhra pradesh,kharif,Bajra,654.34,29.266667,1400.0,500.0,0.357143,0,0,0,0
2,andhra pradesh,kharif,Castor seed,654.34,29.266667,1000.0,100.0,0.100000,0,0,0,0
4,andhra pradesh,kharif,Dry chillies,654.34,29.266667,3700.0,7100.0,1.918919,0,0,0,0
5,andhra pradesh,kharif,Groundnut,654.34,29.266667,650800.0,228400.0,0.350953,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
173021,west bengal,summer,Maize,182.50,29.200000,258.0,391.0,1.515504,0,0,0,0
173022,west bengal,summer,Rice,182.50,29.200000,105.0,281.0,2.676190,0,0,0,0
173023,west bengal,whole year,Sugarcane,1501.98,25.818182,303.0,11541.0,38.089109,0,0,0,0
173024,west bengal,rabi,Rice,152.54,22.280000,152676.0,261435.0,1.712352,0,0,0,0
173025,west bengal,rabi,Sesame Seed,152.54,22.280000,244.0,95.0,0.389344,0,0,0,0

/var/folders/k5/kwnm67cj11j95x28sdwr66dw0000gn/T/ipykernel_3632/1162020465.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '5.54' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_TempCropYield.at[index, 'pH'] = random_matched_row['pH'].values[0]

### Model Training

##### Functions from DDW Problem Set

In [ ]:
def normalize_z(dfin, columns_means=None, columns_stds=None):
    if columns_means is None:
        columns_means = dfin.mean(axis=0)
    if columns_stds is None:
        columns_stds = dfin.std(axis=0)
    
    # Normalize each column using z-score formula
    dfout = (dfin - columns_means) / columns_stds
    
    return dfout, columns_means, columns_stds

def get_features_targets(df, feature_names, target_names):
    df_features = df[feature_names]
    df_target = df[target_names]
    df_feature_np_array = df.to_numpy()
    return df_features, df_target

def prepare_feature(df_feature):
    if isinstance(df_feature, pd.DataFrame):
        df_feature_np_array = df_feature.to_numpy()
    else:
        df_feature_np_array = df_feature
    df_feature_np_array = np.insert(df_feature_np_array,0,1,axis=1)
    return df_feature_np_array


def prepare_target(df_target):
    if isinstance(df_target, pd.DataFrame):
        df_target_np_array = df_target.to_numpy()
    else:
        df_target_np_array = df_target
    return df_target_np_array

def predict_linreg(df_feature, beta, means=None, stds=None):
    if means == None or stds == None:
        df_feature_normalized, means, stds = normalize_z(df_feature)
    else:
        df_feature_normalized,_,_ = normalize_z(df_feature,means,stds)
    df_feature_normalized = prepare_feature(df_feature_normalized)
    y_pred_array = calc_linreg(df_feature_normalized, beta)
    return y_pred_array

def calc_linreg(X, beta):
    return np.matmul(X,beta)

def split_data(df_feature, df_target, random_state=None, test_size=0.5):
    np.random.seed(random_state)
    
    # Get the indices for test data
    num_samples = len(df_feature)
    num_test_samples = int(test_size * num_samples)
    test_indices = np.random.choice(num_samples, num_test_samples, replace=False)
    test_indices.sort()
    # Create train and test sets for features and target
    df_feature_test = df_feature.iloc[test_indices]
    df_target_test = df_target.iloc[test_indices]
    df_feature_train = df_feature.drop(test_indices)
    df_target_train = df_target.drop(test_indices)
    return df_feature_train, df_feature_test, df_target_train, df_target_test
  
def r2_score(y, ypred):
    y_mean = np.mean(y)
    ssRes = np.sum(np.square(np.subtract(y,ypred)))
    ssTot = np.sum(np.square(y - y_mean))
    return 1 - (ssRes/ssTot)

def mean_squared_error(target, pred):
    return np.mean(np.square(np.subtract(target,pred)))

#### Training #1

In [116]:
df_CropYieldCombined = pd.read_csv("Crop_Yield_Combined.csv")
display(df_CropYieldCombined)

,rainfall,temperature,Area_in_hectares,Production_in_tons,N,P,K,pH,State_Name_andaman and nicobar islands,State_Name_andhra pradesh,...,Crop_Soyabean,Crop_Sunflower,Crop_Sweet potato,Crop_Tapioca,Crop_Tea,Crop_Tomato,Crop_Turmeric,Crop_Water Melon,Crop_Yam,Yield_ton_per_hec
0,654.34,29.266667,21400.0,2600.0,20.0,60.0,20.0,5.54,0,1,...,0,0,0,0,0,0,0,0,0,0.121495
1,654.34,29.266667,3700.0,7100.0,120.0,20.0,80.0,6.68,0,1,...,0,0,0,0,0,0,0,0,0,1.918919
2,654.34,29.266667,3300.0,1000.0,20.0,60.0,20.0,6.12,0,1,...,0,0,0,0,0,0,0,0,0,0.303030
3,654.34,29.266667,10100.0,10200.0,80.0,40.0,40.0,5.50,0,1,...,0,0,0,0,0,0,0,0,0,1.009901
4,654.34,29.266667,2800.0,4900.0,80.0,40.0,20.0,5.36,0,1,...,0,0,0,0,0,0,0,0,0,1.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118120,152.54,22.280000,531.0,267.0,40.0,60.0,20.0,5.16,0,0,...,0,0,0,0,0,0,0,0,0,0.502825
118121,182.50,29.200000,258.0,391.0,80.0,40.0,20.0,5.56,0,0,...,0,0,0,0,0,0,0,0,0,1.515504
118122,182.50,29.200000,105.0,281.0,80.0,40.0,40.0,5.36,0,0,...,0,0,0,0,0,0,0,0,0,2.676190
118123,152.54,22.280000,152676.0,261435.0,80.0,40.0,40.0,5.34,0,0,...,0,0,0,0,0,0,0,0,0,1.712352
118124,152.54,22.280000,244.0,95.0,30.0,15.0,30.0,6.68,0,0,...,0,0,0,0,0,0,0,0,0,0.389344