# 2D DDW
## Pedicting Crop Type from data based in India

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### **Model Outline(stuff yall can follow):**
> **Warning:** DO NOT MANIPULATE THE CSV FILES DIRECTLY. Any manipulation will be done by loading the data into a variable in your code. CSV FILES SHOULD BE UNTOUCHED.


#### Step 1 Data Preprocessing:

**CSV Files**
```bash
├── Fertilizer.csv
├── Crop_Yield.csv
```
- Use charts to visualize, summarize and understand your data. Whatever stuff you guys can think of that will help someone to understand the data better(I'll do this~Gangesh)
- Display both files using pandas and take a look at the columns. You need to find a way to combine this datasets and remove some of the unnecessary columns(ex. Production column in final dataset. Crops which are not meant for consumptions like cotton,jute etc). **Note** Some of the crop names in the soil conditions file and the Crop Yield file dont match exactly. Find a way to accurately still combine the datasets.
- After which, recall what i said about data that are not numbers, in this case states. Look up panda dummy variables.
- Normalize the data. Can use the one in problems set.
  
#### Step 2 Training and Validation:
- Follow the initial steps exactly as in cohort 9 to train your first model
- evaluate the model using an appropriate metric. Indicate all data of the trained model together with the error through your chosen error function. Visulize the trained model with maybe types of graph
- Take steps to improve your model. Try to search online. One way is to vary the iterations and learning rate. Train a few times, then choose the model with the best accuracy.

#### Step 3 Prediction:
- Find a way to predict the crop type that gives the highest yield. 
- Recall that the above model predicts highest yield for any given crop type. So what you would do is create a function where the user types in everything except for crop, and you would go on to predict yield for every crop with the inputted variables. After which you will choose the crop with the highest yield and return it 
- In the crop yield csv you will notice a crop_type column. This refers the the type of seasonal crop they are. Ex. Rabi Crops are harvested in the spring season while it is sown in winter. Create a function where if i input a date, I can receive the corresponding crop type.

### Data Visualization

In [12]:
df_TempCropYield = pd.read_csv("Crop_Yield.csv")
df_CropSoilContions = pd.read_csv("Crop_Ideal_Soil_Conditions.csv")
display(df_TempCropYield)
display(df_CropSoilContions)

,State_Name,Crop_Type,Crop,rainfall,temperature,Area_in_hectares,Production_in_tons,Yield_ton_per_hec
0,andhra pradesh,kharif,Arhar/Tur,654.34,29.266667,21400.0,2600.0,0.121495
1,andhra pradesh,kharif,Bajra,654.34,29.266667,1400.0,500.0,0.357143
2,andhra pradesh,kharif,Castor seed,654.34,29.266667,1000.0,100.0,0.100000
3,andhra pradesh,kharif,Cotton(lint),654.34,29.266667,7300.0,9400.0,1.287671
4,andhra pradesh,kharif,Dry chillies,654.34,29.266667,3700.0,7100.0,1.918919
...,...,...,...,...,...,...,...,...
173021,west bengal,summer,Maize,182.50,29.200000,258.0,391.0,1.515504
173022,west bengal,summer,Rice,182.50,29.200000,105.0,281.0,2.676190
173023,west bengal,whole year,Sugarcane,1501.98,25.818182,303.0,11541.0,38.089109
173024,west bengal,rabi,Rice,152.54,22.280000,152676.0,261435.0,1.712352
173025,west bengal,rabi,Sesamum,152.54,22.280000,244.0,95.0,0.389344

      Unnamed: 0              Crop    N   P   K    pH
0              0              Rice   80  40  40  5.50
1              1    Jowar(Sorghum)   80  40  40  5.50
2              2       Barley(JAV)   70  40  45  5.50
3              3             Maize   80  40  20  5.50
4              4  Ragi( naachnnii)   50  40  20  5.50
...          ...               ...  ...  ..  ..   ...
1838        1838       Lemon Grass   25  40  40  5.32
1839        1839            Cotton  120  40  20  5.32
1840        1840              Jute   80  40  40  5.32
1841        1841            Coffee  100  20  30  5.32
1842        1842         Sunflower   50  60  30  5.32

[1843 rows x 6 columns]